$background-color: #f9f9f9;
$secundario: #333333;

body{
	background-color: $background-color;
	p{
		color:$secundario;
		font-size: 1.5em;
	}

	ul{
		li{
			display: inline-block;

			a{
				text-decoration: none;
			}
		}
	}
}