$background-color: blue;
$secundario: #333333;

body{
	background-color: $background-color;
	display: grid | inline-grid;

	p{
		color:$secundario;
		font-size: 1.5em;
		flex-direction:column;
		transition: all ease 0.2s;
	}

	ul{
		li{
			display: inline-block;

			a{
				text-decoration: none;
			}
		}
	}
}